<h1 class="text-danger text-center">Ви не маєте доступу до цієї сторінки 😐</h1>
<div style="width: 70%; margin: 0 auto;">
    <div class="text-center">
        <iframe src="https://giphy.com/embed/l0ErQ2UfBNFEIlqjC" width="480" height="259" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>
